body {
    min-width: 600px;
    padding: 10px 20px;
}

.container-main {
    width: 100%;
}

.texts-information {
    color: gray;
    font-size: 12px;
}

#body_title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

#word_tags {
    min-width: 100%;
}

.bootstrap-tagsinput {
    min-height: 60px;
    width: 100%;
}

.container-interval {
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;
}

.container-slider {
    padding-left: 30px;
}

#slider_time_interval {
    width: 100%;
}

#slider_time_interval .slider-selection {
    background: #BABABA;
}

.container-radios-interval {
    padding-left: 20px;
}

.container-submit {
    padding: 0 20px;
    margin-top: 30px;
}

#btn_save {
    float:right;
}

#table_threads {
    font-size: 12px;
    margin-bottom: 10px;
}